@using MyApp.Infrastructure.Extensions
@using MyApp.Application.Models.Responses.Customers.Individuals
@model MultipleIndividualsRes

@{
    ViewData["Title"] = "Individual";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th class="col-1 align-middle" scope="col">#</th>
        <th class="col-2 align-middle" scope="col">Firstname</th>
        <th class="col-2 align-middle" scope="col">Lastname</th>
        <th class="col-2 align-middle" scope="col">Email</th>
        <th class="col-2 align-middle" scope="col">Phone number</th>
        <th class="col-2 align-middle" scope="col">
            <a class="btn btn-secondary" asp-area="" asp-controller="Individual" asp-action="Add">
                <i class="fas fa-user-plus"></i> Add Individual
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (data, index) in Model.Data.WithIndex())
    {
        <tr>
            <th scope="row">@index</th>
            <td>@data.FirstName</td>
            <td>@data.LastName</td>
            <td>@data.Email</td>
            <td>@data.PhoneNumber</td>
            <td>
                <div class="btn-group" role="group" aria-label="customer-edit-group">
                    <a class="btn btn-primary" asp-area="" asp-controller="Individual" asp-action="Edit" asp-route-id="@data.Id">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <a class="btn btn-secondary text-white" href="@Url.Action("Index", "Billing", new { customerId = data.Id })">
                        <i class="fas fa-file-invoice"></i> Billing
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Individual", new { id = data.Id })">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>