@model MyApp.Application.Models.Requests.CustomerEditReq

@{
    ViewData["Title"] = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var t = Model;
}
<div class="container">
    <h1>Edit Customer</h1>
    @Html.ValidationSummary()
    <form asp-action="Edit" asp-controller="Customer" method="post" enctype="application/x-www-form-urlencoded">

        <div class="update-customer-div">

            @Html.Hidden("Id", Model.Id)

            <div class="form-group col-sm-12">
                <label asp-for="@Model.FirstName" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Firstname", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.LastName" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Lastname", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.EmailId" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.EmailId, new { placeholder = "e-mail", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EmailId)
                </div>
            </div>


            <div class="form-group col-sm-12">
                <label asp-for="@Model.Address" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.Address, new { placeholder = "address", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 btn-submit">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}