@using MyApp.WebApi.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MyApp.Application.Models.Responses.GetAllActiveCustomersRes

@{
    ViewData["Title"] = "Customers";
}

<div class="text-right">
    <button type="button" class="btn btn-primary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Add"><i class="fas fa-user-plus"></i> Add Customer</a>
    </button>
</div>

<hr/>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (data, index) in Model.Data.WithIndex())
    {
        <tr>
            <th scope="row">@index</th>
            <td>@data.FirstName</td>
            <td>@data.LastName</td>
            <td>@data.EmailId</td>
            <td>@data.Address</td>
            <td>
                <div class="btn-group" role="group" aria-label="customer-edit-group">
                    <button type="button" class="btn btn-warning">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Edit" asp-route-id="@data.Id">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a class="nav-link text-dark" href="@Url.Action("Delete", "Customer", new {id = data.Id})">
                            <i class="fas fa-trash"></i>
                        </a>
                    </button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>