@using MyApp.Application.Models.Requests.Billings
@using Microsoft.AspNetCore.Http
@model BillingCreateReq

@{
    ViewBag.Title = "Create Billing";
}
<div class="container">
    <h1>Add Company</h1>
    @Html.ValidationSummary()
    <form method="post" asp-controller="Billing" enctype="application/x-www-form-urlencoded">

        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.Name)
        
        @Html.Hidden("BillingLines", Model.BillingLines)
        @await Html.PartialAsync("BillingLines/_BillingLines", Model.BillingLines)

        <div class="form-group">
            <input type="submit" asp-action="AddBillingLine" value="AddBillingLine" />
            <input type="submit" asp-action="RemoveBillingLine" value="RemoveBillingLine"/>
            <input type="submit" asp-action="CancelAndRefresh" value="CancelAndRefresh"/>
        </div>

        <div class="form-group">
            <div class="col-sm-12 btn-submit">
                <input type="submit" asp-action="Save" class="btn btn-success">Add Company</input>
            </div>
        </div>
    </form>
</div>


@* @using (Html.BeginForm("Add", "Billing", FormMethod.Post)) *@
@* { *@
@*     @Html.HiddenFor(model => model.CustomerId) *@
@* *@
@*     @Html.DisplayNameFor(model => model.Name) *@
@* *@
@*     @await Html.PartialAsync("BillingLines/_BillingLines", Model.BillingLines) *@
@*     <p> *@
@*         <input name="command" type="submit" value="Add BillingLine"/> *@
@*         <input name="command" type="submit" value="Remove BillingLine"/> *@
@*         <input name="command" type="submit" value="Cancel/Refresh"/> *@
@*     </p> *@
@* *@
@*     <p> *@
@*         @Html.ValidationSummary() *@
@*         <input name="command" type="submit" value="Submit"/> *@
@*     </p> *@
@* } *@


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}