@using MyApp.Application.Models.Requests.Billings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MyApp.Application.Extensions
@model BillingEditReq

@{
    ViewData["Title"] = "Home Page";
    var baseurl = ViewBag.BaseUrl;
}
<div class="container">
    <h1>Add Billing Line</h1>

    @await Html.PartialAsync("Billings/_AddBillingLineForm", Model)

    @if (Model.Lines != null)
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-1 align-middle" scope="col">#</th>
                <th class="col-2 align-middle" scope="col">Name</th>
                <th class="col-2 align-middle" scope="col">Unit Price</th>
                <th class="col-2 align-middle" scope="col">Quantity</th>
                <th class="col-2 align-middle" scope="col">Total</th>
                <th class="col-2 align-middle" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var (data, index) in Model.Lines.WithIndex())
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@data.Name</td>
                    <td>@data.Price</td>
                    <td>@data.Quantity</td>
                    <td>@data.Total</td>
                    <td>


                        <div class="btn-group" role="group" aria-label="customer-edit-group">
                            <a href="@Url.Action("Edit", "BillingLine", new { id = data.Id })"
                               class="btn btn-outline-primary" 
                               data-toggle="tooltip" data-placement="top" title="Edit Billing Line">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Edit", "Discount", new { id = data.Id })"
                               class="btn btn-info" 
                               data-toggle="tooltip" data-placement="top" title="Apply Targeted Discount">
                                <i class="fas fa-cart-arrow-down"></i>
                            </a>
                            <a href="@Url.Action("Delete", "BillingLine", new { id = data.Id })"
                               class="btn btn-outline-danger"
                               data-toggle="tooltip" data-placement="top" title="Delete Billing Line">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="col">
                    <a href="@Url.Action("Index", "Billing", new { customerId = Model.CustomerId })" class="btn btn-outline-secondary">
                        <i class="fas fa-step-backward"></i> Return
                    </a>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}