@using MyApp.Application.Models.Responses.PaymentsHistories
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MyApp.Application.Extensions
@model MultiplePaymentHistoriesRes

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1>Add Payment</h1>

    @await Html.PartialAsync("PaymentsHistories/_AddPaymentHistoryForm", Model.CreateReq)

    @if (Model.Data != null)
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-1 align-middle" scope="col">#</th>
                <th class="col-2 align-middle" scope="col">Name</th>
                <th class="col-2 align-middle" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var (data, index) in Model.Data.WithIndex())
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@data.Name</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="customer-edit-group">
                            <a href="@Url.Action("", "BillingLine", new { id = data.Id })"
                               class="btn btn-outline-primary disabled"  @* TODO: Implement BillingLine Edit*@
                               data-toggle="tooltip" data-placement="top" title="Edit Billing Line">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("", "Discount", new { id = data.Id })"
                               class="btn btn-outline-success disabled" @* TODO: Implement Apply targeted discount*@
                               data-toggle="tooltip" data-placement="top" title="Apply Targeted Discount">
                                <i class="fas fa-cart-arrow-down"></i>
                            </a>
                            <a href="@Url.Action("Delete", "PaymentHistory", new { id = data.Id })"
                               class="btn btn-outline-danger"
                               data-toggle="tooltip" data-placement="top" title="Delete Billing Line">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="col">
                    <a href="@Url.Action("Index", "Billing", new { customerId = Model.CustomerId })" class="btn btn-outline-secondary">
                        <i class="fas fa-step-backward"></i> Return
                    </a>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}