@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MyApp.Application.Models.Requests.Products.ProductCreateReq

@{
    ViewData["Title"] = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Add Product</h1>
    @Html.ValidationSummary()
    <form asp-action="Add" asp-controller="Product" method="post" enctype="application/x-www-form-urlencoded">

        <div class="update-customer-div">

            <div class="form-row">
                <div class="col-6 col-md-6">
                    <div class="form-group col">
                        <label asp-for="@Model.Name" class="col control-label"></label>
                        <br>
                        <div class="col">
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group col">
                        <label asp-for="@Model.Price" class="col control-label"></label>
                        <br>
                        <div class="col">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Price, new { placeholder = "0", @class = "form-control", type = "number" , min="0" })
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Price)
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-row">
                <div class="col-6 col-md-6">
                    <div class="form-group col">
                        <a href="@Url.Action("Index", "Product")" class="btn btn-outline-secondary">
                            <i class="fas fa-step-backward"></i> Cancel
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group col">
                        <div class="col-sm-12 btn-submit">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i> Add Product
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}