@using MyApp.Application.Extensions
@model IList<MyApp.Application.Models.Dtos.Customers.Companies.CompanyDto>

@{
    ViewData["Title"] = "Company";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th class="col-1 align-middle" scope="col">#</th>
        <th class="col-2 align-middle" scope="col">Email</th>
        <th class="col-2 align-middle" scope="col">Phone number</th>
        <th class="col-2 align-middle" scope="col">Kbis</th>
        <th class="col-2 align-middle" scope="col">Size</th>
        <th class="col-2 align-middle" scope="col">
            <a class="btn btn-primary" href="@Url.Action("Add", "Company")">
                <i class="fas fa-user-plus"></i> Add Company
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (data, index) in Model.WithIndex())
    {
        <tr>
            <th scope="row">@index</th>
            <td>@data.Email</td>
            <td>@data.PhoneNumber</td>
            <td>@data.Kbis</td>
            <td>@data.CompanySize.ToString()</td>
            <td>
                <div class="btn-group" role="group" aria-label="customer-edit-group">
                    <a class="btn btn-outline-primary" href="@Url.Action("Edit", "Company", new { id = data.Id })"
                       data-toggle="tooltip" data-placement="top" title="Edit Company">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <a class="btn btn-outline-success" href="@Url.Action("Index", "Billing", new { customerId = data.Id })"
                       data-toggle="tooltip" data-placement="top" title="Company Billings">
                        <i class="fas fa-file-invoice"></i>
                    </a>
                    <a class="btn btn-outline-danger" href="@Url.Action("Delete", "Company", new { id = data.Id })"
                       data-toggle="tooltip" data-placement="top" title="Delete Company">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>